body{
    background-color: #C1CFA1;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Josefin Sans';
}
main {
    display: grid;
    grid-template-areas: 
        "head head head"
        "content content content"
        "foot foot foot";
    grid-template-rows: 2% auto 10%;
    height: 100vh; /* Menggunakan seluruh tinggi viewport */
    
}

header {
    grid-area: head;
    align-items: center;
    text-align: center;
    position: sticky;
    display: flex;
    flex-direction: column;
}

article {
    grid-area: content;
    text-align: justify;
}

footer {
    grid-area: foot;
   
}
button{
    margin-left: 5%;
    margin-right: 5%;    
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #C1CFA1;
}

.signIn, .signUp{
    display: flex;
    flex-direction: row;
    width: 180px;
    margin-top: 5%;
    
}

#signInBtn, #signUpBtn{
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.contentsignIn{
    width: 25%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.signIn{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.contentsignIn1{
    text-align: start;
}
#emailSignIn, #passwordSignIn, #username{
    width: 97%;
    border-radius: 10px;
    height: 30px;
}
#formSignIn{
    padding-top: 1%;
}
a{
    text-decoration: none;
    color: white;
}
.createAccount{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.signUpButton, .signInButton{
    text-align: center;
}