body{
    background-color: #FAFFE5;
    margin-right: 0;
    margin-left: 0;
    font-family: 'Josefin Sans';
}
main {
    display: grid;
    grid-template-areas: 
        "head head head"
        "content content content"
        "foot foot foot";
    grid-template-rows: 12% auto 10%;
    height: 100vh; /* Menggunakan seluruh tinggi viewport */
    
}

header {
    grid-area: head;
    align-items: center;
    text-align: center;
    position: sticky;
    display: flex;
    flex-direction: column;
}

article {
    grid-area: content;
    text-align: justify;
}

footer {
    grid-area: foot;
   
}
button{
    margin-left: 5%;
    margin-right: 5%;    
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    background-color: #C1CFA1;
}
.bi-search{
    background-color: #C1CFA1;
    border-radius: 50%;
    padding: 1%;
    position: absolute;
    left: 0;
}
.judul {
    display: flex;
    flex-direction: row;
}

.ikon{
    flex: 1;
    display: flex;
    flex-direction: row;
}
nav{
    background-color: #C1CFA1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.b1, .b2, .b3, .b4, .b5{
    flex: 1;
}
.welcome{
    background-color: white;
    
}
 #welcomeH1{
    margin-right: 30%;
    margin-left: 2%;
    padding-top: 5%;
}
#welcomeText{
    margin-right: 30%;
    margin-left: 2%;
    padding-bottom: 7%;
}
.tombolLogin{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
}
.signIn, .signUp{
    display: flex;
    flex-direction: row;
    width: 180px;
    margin-top: 5%;
    
}

#signInBtn, #signUpBtn{
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
.why{
    text-align: center;
    background-color: white;
    margin-top: 100px;
    margin-right: 2%;
    margin-left: 2%;
}
.whyText{
    text-align: justify;
    font-weight: bold;
    padding: 0 5% 1% 5%;
}
.highlight {
    font-size: larger;
    color: #7E965D;
}
.swiper {
    width: 1000px;
    height: 400px;
  }
#artikelHariIni{
    text-align: center;
}
.swiper-slide{
    background-color: white;
    margin-left: 3px;
    margin-right: 3px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
}
.contentsignIn{
    width: 25%;
    background-color: white;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
.signIn{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}
.contentsignIn1{
    text-align: justify;
}
#emailSignIn, #passwordSignIn, #username{
    width: 97%;
    border-radius: 10px;
    height: 30px;
}
#formSignIn{
    padding-top: 1%;
}
a{
    text-decoration: none;
    color: white;
}
.createAccount{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.signUpButton, .signInButton{
    text-align: center;
}